


  <div fxFill>



          <div fxLayout="column" fxLayoutAlign="space-around stretch" style="padding: 20px; background: #f0f0f0">
            <form [formGroup]="sugestionForm" (ngSubmit)="onSubmit()"fxLayout="row" fxLayoutAlign="space-around stretch" #f>
                <mat-form-field fxFlex="40">
                  <mat-label>Situação</mat-label>
                  <mat-select formControlName="type">
                    <mat-option value="Elogio" >Elogio</mat-option>
                    <mat-option value="Sugestao">Sugestão</mat-option>
                    <mat-option value="Reclamacao">Reclamação</mat-option>
                  </mat-select>
                </mat-form-field>


                <mat-form-field  fxFlex="20" class="example-full-width">
                  <mat-label>Conte-nos</mat-label>
                  <textarea matInput placeholder="Escreva seu comentario" formControlName='comment'></textarea>
                </mat-form-field>
                <app-dropzone (droppedfiles)="onDropFiles($event)"></app-dropzone>

                <div fxLayout="row" fxLayoutAlign="end end" >
                  <button  mat-button color="primary"  type="submit" [disabled]="!sugestionForm.valid">Submit</button>
                  <button mat-button color="warn"  type="reset">Cancel</button>
                </div>
            </form>
          </div>
          <mat-divider></mat-divider>





