<mat-card class='card-filtro'>
  <h4>Filtro de Pesquisa:</h4>
  <mat-checkbox name='checknumero' [(ngModel)]='checkNumero' class='checkbox-filtro' color='primary'>Numero
  </mat-checkbox>
  <br>
  <mat-checkbox [(ngModel)]='checkName' class='checkbox-filtro' color='primary'>Name</mat-checkbox>
  <br>
  <mat-checkbox [(ngModel)]='checkEmail' class='checkbox-filtro' color='primary'>Email</mat-checkbox>
  <br>
  <mat-checkbox [(ngModel)]='checkDate' class='checkbox-filtro' color='primary'>Date</mat-checkbox>
  <br>
  <mat-checkbox [(ngModel)]='checkType' class='checkbox-filtro' color='primary'>Type</mat-checkbox>
  <br>
  <mat-checkbox [(ngModel)]='checkDescription' class='checkbox-filtro' color='primary'>Description</mat-checkbox>
</mat-card>


  <mat-form-field class='filter-form' >
    <mat-label>Pesquise</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Didite sua pesquisa" #input>
  </mat-form-field>



<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container  name='numero' matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef>Nº </th>
      <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Pesquisa não encontrada "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>