<div class="cartao">
  <mat-card>
    <h1>Perfil</h1>
    <div class="formulario">
      <label for="name">Nome</label>
      <label for="last-name" class="sobrenome">Sobrenome</label>
      <div class="form-group">
        <input type="text" id="name">
        <input type="text" id="last-name">
      </div>

      <label for="email">Email</label>
      <input type="text" id="email">
      <label for="phone">Telefone</label>
      <input type="text" id="phone">
    </div>
  </mat-card>
</div>



